osm_data/osm_addresses.osm filter=lfs diff=lfs merge=lfs -text
osm_data/osm_addresses.sqlite filter=lfs diff=lfs merge=lfs -text
data_files_to_import/all-points.osm filter=lfs diff=lfs merge=lfs -text
